##################
# Unity ignores:
#

# OS X only (not needed on other platforms)
.DS_Store
*.swp
*.Trashes

# All platforms
Temp
Temp/
LIbrary
Library/
GFX_Production/

*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
.DS_Store
FailedAssetImports.txt
\cache\
\metadata
\previews\
\ScriptAssemblies
obj
*.log

Assets/Materials/SelectionTarget.mat.meta

Assets/Materials/SelectionTarget.mat.meta
